<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor?after=testing">
         <control
               class="org.zend.php.zendserver.deployment.debug.ui.contributions.RunApplicationContribution">
         </control>
         <control
               class="org.zend.php.zendserver.deployment.debug.ui.contributions.DebugApplicationContribution">
         </control>
         <control
               class="org.zend.php.zendserver.deployment.debug.ui.contributions.DeployApplicationContribution">
         </control>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor?after=head">
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
               icon="icons/obj16/run_exc.gif"
               style="push">
            <parameter
                  name="mode"
                  value="run">
            </parameter>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
               icon="icons/obj16/debug_exc.gif"
               style="push">
            <parameter
                  name="mode"
                  value="debug">
            </parameter>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.deployApplication"
               icon="icons/obj16/deploy_exc.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.zend.php.zendserver.deployment.ui.targets.TargetsViewer?after=dropMenu">
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
               icon="icons/obj16/run_exc.gif"
               label="Launch a PHP Application"
               style="push">
            <parameter
                  name="mode"
                  value="run">
            </parameter>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
               icon="icons/obj16/debug_exc.gif"
               label="Launch a PHP Application in Debug Mode"
               style="push">
            <parameter
                  name="mode"
                  value="debug">
            </parameter>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.deployApplication"
               icon="icons/obj16/deploy_exc.png"
               label="Deploy a PHP Application"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.zend.php.zendserver.deployment.ui.targetsview?after=popupGroup1">
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.OpenDeploymentWizard"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
               icon="icons/obj16/run_exc.gif"
               label="Run"
               style="push">
            <parameter
                  name="mode"
                  value="run">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.debug.core.ILaunchConfiguration">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
               icon="icons/obj16/debug_exc.gif"
               label="Debug"
               style="push">
            <parameter
                  name="mode"
                  value="debug">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.debug.core.ILaunchConfiguration">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.debug.openSshTunnel"
               label="Open SSH Tunnel"
               style="push">
           <visibleWhen
                  checkEnabled="true">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.zend.sdklib.target.IZendTarget">
                 </instanceof>
              </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.LaunchApplicationHandler"
            id="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
            name="Launch PHP Application">
         <commandParameter
               id="mode"
               name="mode"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.DeployApplicationHandler"
            id="org.zend.php.zendserver.deployment.debug.ui.deployApplication"
            name="Deploy PHP Application">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.OpenApplicationHandler"
            id="org.zend.php.zendserver.deployment.debug.ui.OpenDeploymentWizard"
            name="Open Deployment Wizard">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.OpenTunnelCommand"
            id="org.zend.php.zendserver.deployment.debug.openSshTunnel"
            name="Open SSH Tunnel">
      </command>
   </extension>
   <extension
         point="org.eclipse.php.debug.ui.launchConfigurationTabs">
      <launchConfigurationTab
            class="org.zend.php.zendserver.deployment.debug.ui.config.DeploymentLaunchConfigurationTab"
            id="org.zend.php.zendserver.deployment.debug.ui.deploymentTab"
            launchConfigurationTabGroupId="org.eclipse.php.server.ui.launchConfigurationTabGroup"
            modes="run,debug">
      </launchConfigurationTab>
   </extension>
   <extension
         point="org.eclipse.php.debug.core.phpLaunchDelegateListener">
      <launchDelegateListener
            class="org.zend.php.zendserver.deployment.debug.ui.listeners.DeploymentLaunchListener">
      </launchDelegateListener>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.debug.core.ILaunchConfiguration"
            class="org.zend.php.zendserver.deployment.debug.ui.adapter.AdapterFactory">
         <adapter
               type="org.eclipse.jface.viewers.IDoubleClickListener">
         </adapter>
      </factory>
   </extension>

</plugin>
