<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="deployWizardContribution" name="Deployment Wizard Contribution" schema="schema/deployWizardContribution.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.LaunchApplicationHandler"
            id="org.zend.php.zendserver.deployment.debug.ui.launchApplication"
            name="%command.name">
         <commandParameter
               id="mode"
               name="%commandParameter.name"
               optional="false">
         </commandParameter>
         <commandParameter
               id="projectName"
               name="%commandParameter.name.0"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.DeployApplicationHandler"
            id="org.zend.php.zendserver.deployment.debug.ui.deployApplication"
            name="%command.name.0">
            <commandParameter
               id="mode"
               name="%commandParameter.name.1"
               optional="false">
         </commandParameter>
         <commandParameter
               id="projectName"
               name="%commandParameter.name.2"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.debug.ui.commands.DeployProjectHandler"
            id="org.zend.php.zendserver.deployment.debug.ui.deployProject"
            name="Deploy Project">
               <visibleWhen
                  checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                     <test
                           forcePluginActivation="true"
                           property="org.zend.php.zendserver.deployment.ui.deploy"
                        value="true">
                     </test>
                  </iterate>
            </visibleWhen>
         </command>
   </extension>
   <extension
         point="org.eclipse.php.debug.core.phpLaunchDelegateListener">
      <launchDelegateListener
            class="org.zend.php.zendserver.deployment.debug.ui.listeners.DeploymentLaunchListener">
      </launchDelegateListener>
   </extension>
   <extension
         point="org.zend.php.zendserver.deployment.ui.testingSectionContribution">
      <contribution
            class="org.zend.php.zendserver.deployment.debug.ui.contributions.RunApplicationContribution">
      </contribution>
      <contribution
            class="org.zend.php.zendserver.deployment.debug.ui.contributions.DebugApplicationContribution">
      </contribution>
      <contribution
            class="org.zend.php.zendserver.deployment.debug.ui.contributions.DeployApplicationContribution">
      </contribution>
   </extension>
<extension
         id="com.zend.php.platform.ui.platformWizardFragment"
         name="Application Monitoring"
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
            name="Debug Mode Fragment"
            placeAfter="org.eclipse.php.server.ui.PathMapperFragmentFactory"/>
   </extension>
<extension
      point="org.zend.php.server.ui.actionContributions">
   <action
         class="org.zend.php.zendserver.deployment.debug.ui.actions.DebugModeAction">
      <serverType
            id="org.zend.php.server.ui.types.ZendServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.OpenShiftServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.PhpcloudServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.LocalZendServerType">
      </serverType>
   </action>
   <action
         class="org.zend.php.zendserver.deployment.debug.ui.actions.SSHTunnelAction">
      <serverType
            id="org.zend.php.server.ui.types.OpenShiftServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.PhpcloudServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.ZendServerType">
      </serverType>
      <serverType
            id="org.eclipse.php.server.ui.types.BasicServerType">
      </serverType>
   </action>
</extension>
 <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.php.ui.explorer?after=additions">
      <command
            commandId="org.zend.php.zendserver.deployment.debug.ui.deployProject"
            icon="icons/obj16/deploy_exc.png"
            label="%command.label.9"
            style="push">
         <visibleWhen
               checkEnabled="false">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
               <test
                     forcePluginActivation="true"
                     property="org.zend.php.zendserver.deployment.ui.deploy"
                     value="true">
               </test>
            </iterate>
         </visibleWhen>
      </command>
    </menuContribution>
    </extension>
 <extension
       point="org.zend.php.server.ui.dragAndDropContribution">
    <contribution
          class="org.zend.php.zendserver.deployment.debug.ui.contributions.DeployProjectContribution">
    </contribution>
 </extension>
</plugin>
