<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="actionContributions" name="Server Action Contributions" schema="schema/actionContributions.exsd"/>
   <extension-point id="dragAndDropContribution" name="Contributon to Drag and Drop" schema="schema/dragAndDropContribution.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.zend.php.server.ui"
            name="PHP Servers">
      </category>
      <view
            category="org.zend.php.server.ui"
            class="org.zend.php.server.internal.ui.views.ServersView"
            icon="icons/obj16/servers_view.gif"
            id="org.zend.php.server.ui.views.ServersView"
            name="PHP Servers">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <viewShortcut
               id="org.zend.php.server.ui.views.ServersView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="org.zend.php.server.ui.views.ServersView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.ZendServerType"
            description="Creates a remote Zend Server instance."
            icon16="icons/obj16/zend_server.png"
            icon32="icons/obj32/zend_server.png"
            id="org.zend.php.server.ui.types.ZendServerType"
            name="Remote Zend Server"
            wizardImage="icons/wizban/zend_server_wiz.png">
            <fragment
                  id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                  settings="true"
                  wizard="true">
            </fragment>
            <fragment
                  id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                  settings="true"
                  wizard="false">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
                  settings="true"
                  wizard="true">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                  settings="true"
                  wizard="true">
            </fragment>
            <fragment
                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                  settings="true"
                  wizard="true">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
                  settings="true"
                  wizard="false">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
                  settings="true"
                  wizard="false">
            </fragment>
            <fragment
                  id="com.zend.php.debug.internal.ui.tunneling.TunnelingFragmentFactory"
                  settings="true"
                  wizard="false">
            </fragment>
      </type>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.LocalApacheType"
            description="Detects an Apache HTTP Server instance installed locally on this machine."
            icon16="icons/obj16/apache.png"
            icon32="icons/obj32/apache.png"
            id="org.zend.php.server.ui.types.LocalApacheType"
            name="Local Apache HTTP Server"
            wizardImage="icons/wizban/local_apache_wiz.png">
         <fragment
               id="org.zend.php.server.ui.apache.LocalApacheFragmentFactory"
               settings="false"
               wizard="true">
         </fragment>
         <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
      </type>
   </extension>
   <extension
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.server.internal.ui.apache.LocalApacheFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.server.ui.apache.LocalApacheFragmentFactory"
            name="Local Apache HTTP Server Fragment">
      </wizardAndCompositeFragment>
   </extension>
   <extension
         point="org.zend.php.server.ui.actionContributions">
      <action
            class="org.zend.php.server.internal.ui.apache.RefreshApacheAction">
         <serverType
               id="org.zend.php.server.ui.types.LocalApacheType">
         </serverType>
      </action>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.OpenShiftServerType"
            description="Creates a new server for each OpenShift application with a zend-6.1 cartridge."
            icon16="icons/obj16/openshift.png"
            icon32="icons/obj32/openshift.png"
            id="org.zend.php.server.ui.types.OpenShiftServerType"
            name="RedHat OpenShift"
            wizardImage="icons/wizban/openshift_wiz.png">
         <fragment
               id="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftFragmentFactory"
               settings="false"
               wizard="true">
         </fragment>
         <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="com.zend.php.debug.internal.ui.tunneling.TunnelingFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
      </type>
   </extension>
   <extension
       point="org.eclipse.php.server.ui.serverTypes">
    <type
          class="org.zend.php.server.ui.types.LocalZendServerType"
          description="Detects a Zend Server instance installed locally on this machine."
          icon16="icons/obj16/zend_server.png"
          icon32="icons/obj32/zend_server.png"
          id="org.zend.php.server.ui.types.LocalZendServerType"
          name="Local Zend Server"
          wizardImage="icons/wizban/zend_server_wiz.png">
       <fragment
             id="org.zend.php.zendserver.deployment.ui.zendserver.LocalZendServerFragmentFactory"
             settings="false"
             wizard="true">
       </fragment>
         <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
         <fragment
               id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
               settings="true"
               wizard="false">
         </fragment>
    </type>
 </extension>
   <extension
         point="org.eclipse.ui.startup">
         <startup
            class="org.zend.php.server.internal.ui.startup.ServersMigrationStartup"></startup>
         <startup
            class="org.zend.php.server.internal.ui.startup.LocalZendServerStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.php.debug.core.phpLaunchDelegateListener">
      <launchDelegateListener
            class="org.zend.php.server.internal.ui.ServerLaunchDelegateListener">
      </launchDelegateListener>
   </extension>
 <extension
         point="org.zend.php.ui.welcomeLinkListener">
      <listener
            class="org.zend.php.server.internal.ui.actions.LaunchServerWizard"
            id="org.zend.php.server.internal.ui.actions.LaunchServerWizard.listener"
            name="server">
      </listener>
   </extension>
</plugin>
