<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="actionContributions" name="Server Action Contributions" schema="schema/actionContributions.exsd"/>
   <extension-point id="dragAndDropContribution" name="Contributon to Drag and Drop" schema="schema/dragAndDropContribution.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.zend.php.server.ui"
            name="PHP Servers">
      </category>
      <view
            category="org.zend.php.server.ui"
            class="org.zend.php.server.internal.ui.views.ServersView"
            icon="icons/obj16/servers_view.gif"
            id="org.zend.php.server.ui.views.ServersView"
            name="PHP Servers">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <viewShortcut
               id="org.zend.php.server.ui.views.ServersView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="org.zend.php.server.ui.views.ServersView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
         <startup
            class="org.zend.php.server.internal.ui.startup.ServersMigrationStartup"></startup>
         <startup
            class="org.zend.php.server.internal.ui.startup.LocalZendServerStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.php.debug.core.phpLaunchDelegateListener">
      <launchDelegateListener
            class="org.zend.php.server.internal.ui.ServerLaunchDelegateListener">
      </launchDelegateListener>
   </extension>
 <extension
         point="org.zend.php.ui.welcomeLinkListener">
      <listener
            class="org.zend.php.server.internal.ui.actions.LaunchServerWizard"
            id="org.zend.php.server.internal.ui.actions.LaunchServerWizard.listener"
            name="server">
      </listener>
   </extension>
   <extension
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.server.internal.ui.apache.LocalApacheFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.server.ui.apache.LocalApacheFragmentFactory"
            name="Local Apache HTTP Server Fragment">
      </wizardAndCompositeFragment>
   </extension>
   <extension
         point="org.zend.php.server.ui.actionContributions">
      <action
            class="org.zend.php.server.internal.ui.apache.RefreshApacheAction">
         <serverType
               id="org.zend.php.server.ui.types.LocalApacheType">
         </serverType>
      </action>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.ZendServerType"
            id="org.zend.php.server.ui.types.ZendServerType">
            <wizard>
               <fragment
                     id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                     ordinal="1"
                     placement="2">
               </fragment>
               <fragment
                     id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                     ordinal="2"
                     placement="1">
               </fragment>
               <fragment
                     id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                     ordinal="3"
                     placement="5">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
                     ordinal="4"
                     placement="3">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                     ordinal="5"
                     placement="4">
               </fragment>
            </wizard>
            <settings>
               <fragment
                     id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                     ordinal="1"
                     placement="2">
               </fragment>
               <fragment
                     id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                     ordinal="2"
                     placement="1">
               </fragment>
               <fragment
                     id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                     ordinal="3"
                     placement="3">
               </fragment>
               <fragment
                     id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                     ordinal="4"
                     placement="4">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
                     ordinal="5"
                     placement="5">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
                     ordinal="6"
                     placement="6">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
                     ordinal="7"
                     placement="7">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                     ordinal="8"
                     placement="8">
               </fragment>
               <fragment
                     id="com.zend.php.debug.internal.ui.tunneling.TunnelingFragmentFactory"
                     ordinal="9"
                     placement="9">
               </fragment>
            </settings>
      </type>
   </extension>
   <extension
       point="org.eclipse.php.server.ui.serverTypes">
    <type
          class="org.zend.php.server.ui.types.LocalZendServerType"
          id="org.zend.php.server.ui.types.LocalZendServerType">
         <wizard>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.zendserver.LocalZendServerFragmentFactory"
                  ordinal="1"
                  placement="1">
            </fragment>
            <fragment
                  id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                  ordinal="2"
                  placement="2">
            </fragment>
         </wizard>
       <settings>
               <fragment
                     id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                     ordinal="1"
                     placement="1">
	         </fragment>
               <fragment
                     id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                     ordinal="2"
                     placement="2">
               </fragment>
	         <fragment
                id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                ordinal="3"
                placement="3">
            </fragment>
            <fragment
                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                  ordinal="4"
                  placement="7">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
                  ordinal="5"
                  placement="4">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
                  ordinal="6"
                  placement="5">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
                  ordinal="7"
                  placement="6">
            </fragment>
	       </settings>
    </type>
 </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.LocalApacheType"
            id="org.zend.php.server.ui.types.LocalApacheType">
         <wizard>
            <fragment
                  id="org.zend.php.server.ui.apache.LocalApacheFragmentFactory"
                  ordinal="1"
                  placement="1">
            </fragment>
            <fragment
                  id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                  ordinal="2"
                  placement="2">
            </fragment>
         </wizard>
         <settings>
               <fragment
                     id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                     ordinal="1"
                     placement="1">
	         </fragment>
               <fragment
                     id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                     ordinal="2"
                     placement="2">
               </fragment>
               <fragment
                     id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                     ordinal="3"
                     placement="3">
               </fragment>
	            <fragment
                   id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                   ordinal="4"
                   placement="4">
	            </fragment>
             <fragment
                   id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                   ordinal="5"
                   placement="5">
             </fragment>
	       </settings>
      </type>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.OpenShiftServerType"
            id="org.zend.php.server.ui.types.OpenShiftServerType">
            <wizard>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftFragmentFactory"
                  ordinal="1"
                  placement="1">
            </fragment>
            <fragment
                  id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                  ordinal="2"
                  placement="2">
            </fragment>
         </wizard>
         <settings>
            <fragment
                  id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                  ordinal="1"
                  placement="1">
	         </fragment>
            <fragment
                  id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                  ordinal="2"
                  placement="2">
            </fragment>
            <fragment
                  id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                  ordinal="3"
                  placement="3">
            </fragment>
            <fragment
                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                  ordinal="4"
                  placement="4">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
                  ordinal="5"
                  placement="3">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
                  ordinal="6"
                  placement="6">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory"
                  ordinal="7"
                  placement="7">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                  ordinal="8"
                  placement="5">
            </fragment>
            <fragment
                  id="com.zend.php.debug.internal.ui.tunneling.TunnelingFragmentFactory"
                  ordinal="9"
                  placement="8">
            </fragment>
         </settings>
      </type>
   </extension>
 <extension
       point="org.eclipse.php.server.ui.serverTypes">
    <type
          class="org.eclipse.php.server.ui.types.BasicServerType"
          id="org.eclipse.php.server.ui.types.BasicServerType">
       <wizard>
          <fragment
                id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                ordinal="1"
                placement="1">
          </fragment>
          <fragment
                id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                ordinal="2"
                placement="2">
          </fragment>
          <fragment
                id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                ordinal="3"
                placement="3">
          </fragment>
          <fragment
                id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                ordinal="4"
                placement="5">
          </fragment>
          <fragment
                id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                ordinal="5"
                placement="8">
          </fragment>
          <fragment
                id="com.zend.php.debug.internal.ui.tunneling.TunnelingFragmentFactory"
                ordinal="6"
                placement="9">
          </fragment>
       </wizard>
       <settings>
          <fragment
                id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory"
                ordinal="1"
                placement="1">
          </fragment>
          <fragment
                id="org.eclipse.php.debug.ui.DebuggerCompositeFragmentFactory"
                ordinal="2"
                placement="2">
          </fragment>
          <fragment
                id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"
                ordinal="3"
                placement="3">
          </fragment>
          <fragment
                id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory"
                ordinal="4"
                placement="5">
          </fragment>
          <fragment
                id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
                ordinal="5"
                placement="8">
          </fragment>
          <fragment
                id="com.zend.php.debug.internal.ui.tunneling.TunnelingFragmentFactory"
                ordinal="6"
                placement="9">
          </fragment></settings>
    </type>
 </extension>
</plugin>
