<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="actionContributions" name="Server Action Contributions" schema="schema/actionContributions.exsd"/>
   <extension-point id="dragAndDropContribution" name="Contributon to Drag and Drop" schema="schema/dragAndDropContribution.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.zend.php.server.ui"
            name="PHP Servers">
      </category>
      <view
            category="org.zend.php.server.ui"
            class="org.zend.php.server.internal.ui.views.ServersView"
            icon="icons/obj16/servers_view.gif"
            id="org.zend.php.server.ui.views.ServersView"
            name="PHP Servers">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <viewShortcut
               id="org.zend.php.server.ui.views.ServersView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <view
               id="org.zend.php.server.ui.views.ServersView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.ZendServerType"
            id="org.zend.php.server.ui.types.ZendServerType">
            <wizardAndSettings>
               <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
	         </fragment>
	            <fragment id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory">
	            </fragment>
	            <fragment
	                  id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory">
	            </fragment>
	            <fragment
	                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory">
	            </fragment>
	            </wizardAndSettings>
            <settings>
               <fragment
                     id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory">
               </fragment>
               <fragment
                     id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory">
               </fragment>
            </settings>
      </type>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.LocalApacheType"
            id="org.zend.php.server.ui.types.LocalApacheType">
         <wizard>
            <fragment
                  id="org.zend.php.server.ui.apache.LocalApacheFragmentFactory">
            </fragment>
         </wizard>
         <settings>
               <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
	         </fragment>
               <fragment
                     id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory">
               </fragment>
	            <fragment
	                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory">
	            </fragment>
             <fragment
                   id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory">
             </fragment>
	       </settings>
      </type>
   </extension>
   <extension
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.server.internal.ui.apache.LocalApacheFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.server.ui.apache.LocalApacheFragmentFactory"
            name="Local Apache HTTP Server Fragment">
      </wizardAndCompositeFragment>
   </extension>
   <extension
         point="org.zend.php.server.ui.actionContributions">
      <action
            class="org.zend.php.server.internal.ui.apache.RefreshApacheAction">
         <serverType
               id="org.zend.php.server.ui.types.LocalApacheType">
         </serverType>
      </action>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.OpenShiftServerType"
            id="org.zend.php.server.ui.types.OpenShiftServerType">
            <wizard>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftFragmentFactory">
            </fragment>
         </wizard>
         <settings>
            <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
	         </fragment>
            <fragment id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory">
            </fragment>
            <fragment
                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory">
            </fragment>
         </settings>
      </type>
   </extension>
   <extension
         point="org.eclipse.php.server.ui.serverTypes">
      <type
            class="org.zend.php.server.ui.types.PhpcloudServerType"
            id="org.zend.php.server.ui.types.PhpcloudServerType">
         <wizard>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.preferences.PhpcloudFragmentFactory">
            </fragment>
         </wizard>
         <settings>
            <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
	         </fragment>
            <fragment
                  id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory">
            </fragment>
            <fragment id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory">
            </fragment>
            <fragment
                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory">
            </fragment>
         </settings>
      </type>
   </extension>
   <extension
       point="org.eclipse.php.server.ui.serverTypes">
    <type
          class="org.zend.php.server.ui.types.LocalZendServerType"
          id="org.zend.php.server.ui.types.LocalZendServerType">
       <settings>
               <fragment
               id="org.eclipse.php.server.ui.wizard.BasicCompositeFragmentFactory">
	         </fragment>
	         <fragment
                  id="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory">
            </fragment>
            <fragment
            	  id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory">
            </fragment>
            <fragment
                  id="org.zend.php.zendserver.deployment.debug.ui.preferences.DebugModeFragmentFactory">
            </fragment>
            <fragment
                  id="com.zend.php.remoteproject.ui.preferences.AutomaticUploadFragmentFactory">
            </fragment>
	       </settings>
         <wizard>
            <fragment
                  id="org.zend.php.zendserver.deployment.ui.zendserver.LocalZendServerFragmentFactory">
            </fragment>
         </wizard>
    </type>
 </extension>
   <extension
         point="org.eclipse.ui.startup">
         <startup
            class="org.zend.php.server.internal.ui.startup.ServersMigrationStartup"></startup>
         <startup
            class="org.zend.php.server.internal.ui.startup.LocalZendServerStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.php.debug.core.phpLaunchDelegateListener">
      <launchDelegateListener
            class="org.zend.php.server.internal.ui.ServerLaunchDelegateListener">
      </launchDelegateListener>
   </extension>

</plugin>
