<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Minimal platform" sequenceNumber="117">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.zend.webapi.tests.feature.feature.group" />
<unit id="org.zend.webapi.feature.feature.group" />
<repository location="http://il-studiodev2.zend.net:8080/job/zendserver-webapi/lastSuccessfulBuild/artifact/org.zend.webapi.update-site/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.hamcrest.integration" />
<unit id="org.hamcrest.library" />
<unit id="org.hamcrest" />
<unit id="org.hamcrest.text" />
<unit id="com.jcraft.jsch" />
<unit id="org.mockito" />
<unit id="org.objenesis" />
<unit id="org.slf4j.jul" />
<unit id="org.apache.commons.cli" />
<unit id="org.apache.commons.lang" />
<unit id="org.apache.commons.logging" />
<unit id="org.apache.log4j" />
<unit id="org.slf4j.api" />
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorOrbit/lastSuccessfulBuild/artifact/mirrors/orbit/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" />
<unit id="org.eclipse.platform.ide" />
<unit id="org.eclipse.jdt.feature.group" />
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorEclipseUpdates43/lastSuccessfulBuild/artifact/mirrors/eclipseupdates43/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" />
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorEgitAndJGit/lastSuccessfulBuild/artifact/mirrors/egit/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.restlet.feature.group" />
<unit id="org.restlet.ext.httpclient.feature.group" />
<unit id="org.restlet.ext.xml.feature.group" />
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorRestlet/lastSuccessfulBuild/artifact/mirrors/restlet/target/repository"/>
</location>
</locations>
</target>
