<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="testingSectionContribution" name="Testing Section Contribution" schema="schema/testingSectionContribution.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
      		default="true"
            class="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor"
            contributorClass="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditorContributor"
            filenames="deployment.xml"
            icon="icons/obj16/application_obj.gif"
            id="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.zend.php.zendserver.deployment.ui.deploymentDescriptor">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.zend.php.zendserver.deployment.ui.configureNature"
               icon="icons/obj16/deploy_exc.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.EnableDeploymentSupport"
            description="%command.description"
            id="org.zend.php.zendserver.deployment.ui.configureNature"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.OpenCodeTracingCommand"
            id="org.zend.php.zendserver.deployment.ui.OpenCodeTracingSnapshot"
            name="%command.name.4">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.zend.php.zendserver.deployment.ui.commands.DeployVisibilityTester"
            id="org.zend.php.zendserver.deployment.ui.deployVisibilityTester"
            namespace="propertyTester.deploy"
            properties="visible"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.zend.php.zendserver.deployment.ui.commands.DeploymentTester"
            id="org.zend.php.zendserver.deployment.ui.deploymentTester"
            namespace="org.zend.php.zendserver.deployment.ui"
            properties="deploy"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.zend.php.zendserver.deployment"
            name="%category.name">
      </category>
      <wizard
            category="org.zend.php.zendserver.deployment"
            class="org.zend.php.zendserver.deployment.ui.wizards.PackageExportWizard"
            icon="icons/obj16/application_obj.gif"
            id="org.zend.php.zendserver.deployment.ui.packageExportWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="deployment.xml"
            id="org.zend.php.zendserver.deployment.ui.deploymentDescriptor"
            name="%content-type.name"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="package">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.zend.php.zendserver.deployment.ui.Activator"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftPreferencesPage"
            id="org.zend.php.zendserver.deployment.ui.OpenShiftPreferences"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftPreferenceInitializer">
      </initializer>
   </extension>
 <extension
         id="com.zend.php.platform.ui.platformWizardFragment"
         name="Deployment"
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.zendserver.deployment.ui.preferences.DeploymentFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.zendserver.deployment.ui.deploymentFragmentFactory"
            name="Deployment Wizard Fragment"
            placeAfter="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"/>
   </extension>
 <extension
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.zendserver.deployment.ui.zendserver.LocalZendServerFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.zendserver.deployment.ui.zendserver.LocalZendServerFragmentFactory"
            name="Local Zend Server Fragment">
      </wizardAndCompositeFragment>
   </extension>
    <extension
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.zendserver.deployment.ui.preferences.OpenShiftFragmentFactory"
            name="RedHat OpenShift Fragment">
      </wizardAndCompositeFragment>
   </extension>
   <extension
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.zendserver.deployment.ui.preferences.TunnelingFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.zendserver.deployment.ui.TunnelingFragmentFactory"
            name="SSH Tunneling">
      </wizardAndCompositeFragment>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.zend.php.zendserver.deployment.ui.ServersMigrationStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            scope="total"
            id="org.zend.php.zendserver.deployment.ui.editors.text.DescriptorReconcilingStrategy"
            class="org.zend.php.zendserver.deployment.ui.editors.text.DescriptorReconcilingStrategy">
      <contentTypeIdentifier id="org.zend.php.zendserver.deployment.ui.deploymentDescriptor">
         <partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
      </contentTypeIdentifier>
      </validator>
   </extension>
</plugin>
