<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor"
            contributorClass="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditorContributor"
            filenames="deployment.xml"
            icon="icons/sample.gif"
            id="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor"
            name="Deployment Descriptor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.zend.php.zendserver.deployment.ui.deploy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                        </adapt>
                        <test
                              forcePluginActivation="true"
                              property="propertyTester.deploy.visible">
                        </test>
                     </iterate>
                     <iterate>
                        <adapt
                              type="org.eclipse.dltk.core.IScriptProject">
                        </adapt>
                        <test
                              forcePluginActivation="true"
                              property="propertyTester.deploy.visible">
                        </test>
                     </iterate>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.zend.php.zendserver.deployment.ui.configureNature"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.ApplicationDeployHandler"
            description="Deploy selected Application"
            id="org.zend.php.zendserver.deployment.ui.deploy"
            name="Deploy">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.EnableDeploymentSupport"
            description="Enable Zend Deployment support"
            id="org.zend.php.zendserver.deployment.ui.configureNature"
            name="Enable Deployment">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.zend.php.zendserver.deployment.ui.commands.DeployVisibilityTester"
            id="org.zend.php.zendserver.deployment.ui.deployVisibilityTester"
            namespace="propertyTester.deploy"
            properties="visible"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.zend.php.zendserver.deployment.ui.preferences.SdkPreferencePage"
            id="org.zend.php.zendserver.deployment.ui.zendsdk"
            name="Zend SDK">
      </page>
   </extension>

</plugin>
