<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
      		default="true"
            class="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor"
            contributorClass="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditorContributor"
            filenames="deployment.xml"
            icon="icons/obj16/application_obj.gif"
            id="org.zend.php.zendserver.deployment.ui.editors.DeploymentDescriptorEditor"
            name="Deployment Descriptor">
         <contentTypeBinding
               contentTypeId="org.zend.php.zendserver.deployment.ui.deploymentDescriptor">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.zend.php.zendserver.deployment.ui.configureNature"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.zend.php.zendserver.deployment.ui.targetsview?after=popupGroup1">
         <command
               commandId="org.zend.php.zendserver.deployment.ui.openTarget"
               label="Open Target"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.zend.php.zendserver.deployment.ui.targetsview?after=popupGroup2">
         <command
               commandId="org.zend.php.zendserver.deployment.ui.removeLaunchConfig"
               label="Remove"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.ui.uninstallApplication"
               label="Uninstall"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.ui.enableMonitoring"
               label="Enable Application Monitoring"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <test
                     forcePluginActivation="false"
                     property="propertyTester.monitor.visible"
                     value="false">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="org.zend.php.zendserver.deployment.ui.disableMonitoring"
               label="Disable Application Monitoring"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <test
                     forcePluginActivation="false"
                     property="propertyTester.monitor.visible"
                     value="true">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.EnableDeploymentSupport"
            description="Add Application Deployment Support"
            id="org.zend.php.zendserver.deployment.ui.configureNature"
            name="Add Application Deployment Support">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.ApplicationTestHandler"
            id="org.zend.php.zendserver.deployment.ui.phpunit"
            name="Run PHPUnit Test">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.RemoveLaunchOrTarget"
            id="org.zend.php.zendserver.deployment.ui.removeLaunchConfig"
            name="Remove Launch Configuration">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.OpenTargetCommand"
            id="org.zend.php.zendserver.deployment.ui.openTarget"
            name="Open Target">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.UninstallApplicationHandler"
            id="org.zend.php.zendserver.deployment.ui.uninstallApplication"
            name="Uninstall Application">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.OpenCodeTracingCommand"
            id="org.zend.php.zendserver.deployment.ui.OpenCodeTracingSnapshot"
            name="Open Code Tracing Command">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.EnableMonitoringHandler"
            id="org.zend.php.zendserver.deployment.ui.enableMonitoring"
            name="Enable Application Monitoring">
      </command>
      <command
            defaultHandler="org.zend.php.zendserver.deployment.ui.commands.DisableMonitoringHandler"
            id="org.zend.php.zendserver.deployment.ui.disableMonitoring"
            name="Disable Application Monitoring">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.zend.php.zendserver.deployment.ui.commands.DeployVisibilityTester"
            id="org.zend.php.zendserver.deployment.ui.deployVisibilityTester"
            namespace="propertyTester.deploy"
            properties="visible"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.zend.php.zendserver.deployment.ui.commands.MonitorStateTester"
            id="org.zend.php.zendserver.deployment.ui.monitoringStateTester"
            namespace="propertyTester.monitor"
            properties="visible"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.zend.php.zendserver.deployment"
            name="Zend">
      </category>
      <wizard
            category="org.zend.php.zendserver.deployment"
            class="org.zend.php.zendserver.deployment.ui.wizards.PackageExportWizard"
            icon="icons/obj16/application_obj.gif"
            id="org.zend.php.zendserver.deployment.ui.packageExportWizard"
            name="Deployment Package (ZPK)">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="deployment.xml"
            id="org.zend.php.zendserver.deployment.ui.deploymentDescriptor"
            name="Deployment Descriptor"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="package">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.zend.php.zendserver.deployment.ui.category"
            class="org.zend.php.zendserver.deployment.ui.views.TargetsViewPart"
            icon="icons/eview16/servers_view.gif"
            id="org.zend.php.zendserver.deployment.ui.targetsview"
            name="Targets"
            restorable="true">
      </view>
      <category
            id="org.zend.php.zendserver.deployment.ui.category"
            name="Zend Application Deployment">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zend.php.zendserver.deployment.ui.DeploymentUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.zend.php.zendserver.deployment.ui.Activator"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <viewShortcut
               id="org.zend.php.zendserver.deployment.ui.targetsview">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.zend.php.framework.perspective">
         <viewShortcut
               id="org.zend.php.zendserver.deployment.ui.targetsview">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
