<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeTracingEditor" name="%extension-point.name" schema="schema/codeTracingEditor.exsd"/>
   <extension
         point="org.zend.php.zendserver.monitor.core.notificationProvider">
      <notificationProvider
            class="org.zend.php.zendserver.monitor.internal.ui.NotificationProvider">
      </notificationProvider>
   </extension>
<extension
         id="com.zend.php.platform.ui.platformWizardFragment"
         name="Application Monitoring"
         point="org.eclipse.php.ui.wizardAndCompositeFragments">
      <wizardAndCompositeFragment
            class="org.zend.php.zendserver.monitor.ui.preferences.MonitoringFragmentFactory"
            fragmentsGroupID="org.eclipse.php.server.ui.serverWizardAndComposite"
            id="org.zend.php.zendserver.monitor.ui.preferences.monitoringFragmentFactory"
            name="Application Monitorng Fragment"
            placeAfter="org.eclipse.php.internal.server.ui.PathMapperFragmentFactory"/>
   </extension>
<extension
      point="org.zend.php.server.ui.actionContributions">
   <action
         class="org.zend.php.zendserver.monitor.internal.ui.actions.ServerMonitoringAction">
      <serverType
            id="org.zend.php.server.ui.types.ZendServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.OpenShiftServerType">
      </serverType>
      <serverType
            id="org.zend.php.server.ui.types.PhpcloudServerType">
      </serverType>
      <serverType
            id="org.zend.php.zendserver.deployment.ui.zendserver.LocalZendServerType">
      </serverType>
   </action>
</extension>
</plugin>
