<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Minimal platform" sequenceNumber="125">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/view/Mirrors/job/MirrorNebula/lastSuccessfulBuild/artifact/mirrors/nebula/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.cli" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.xerces" version="0.0.0"/>
<unit id="org.hamcrest.integration" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.text" version="0.0.0"/>
<unit id="com.jcraft.jsch" version="0.0.0"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.slf4j.jul" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.apache.commons.httpclient" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/view/Mirrors/job/MirrorOrbit/lastSuccessfulBuild/artifact/mirrors/orbit/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.php.feature.group" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/job/zend-pdt/lastSuccessfulBuild/artifact/dev/org.eclipse.php-repository/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dltk.core.index.feature.group" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/view/Mirrors/job/MirrorDLTK/lastSuccessfulBuild/artifact/mirrors/dltk/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.feature.group"  version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group"  version="0.0.0"/>
<unit id="org.eclipse.wst.web_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group"  version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group"  version="0.0.0"/>
<unit id="org.eclipse.rse.core.feature.group"  version="0.0.0"/>
<unit id="org.eclipse.datatools.connectivity.feature.feature.group"  version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorKepler/lastSuccessfulBuild/artifact/mirrors/kepler/target/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.zend.notifications.feature.feature.group" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/job/commons/lastSuccessfulBuild/artifact/org.zend.commons-updatesite/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorEgitAndJGit/lastSuccessfulBuild/artifact/mirrors/egit/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.restlet.ext.ssl.feature.group" version="0.0.0"/>
<unit id="org.restlet.ext.xml.feature.group" version="0.0.0"/>
<unit id="org.restlet.ext.httpclient.feature.group" version="0.0.0"/>
<unit id="org.restlet.feature.group" version="0.0.0"/>
<repository location="http://il-studiodev2.zend.net:8080/job/MirrorRestlet/lastSuccessfulBuild/artifact/mirrors/restlet/target/repository"/>
</location>
</locations>
</target>
