<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zend.php.zendserver.deployment.core.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="DeploymentNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.zend.php.zendserver.deployment.core.DeploymentNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="DeploymentBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="org.zend.php.zendserver.deployment.core.IncrementalDeploymentBuilder">
         </run>
      </builder>
   </extension>

</plugin>
