<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="targetsManagerListener" name="Targets Manager Listener" schema="schema/targetsManagerListener.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.zend.php.zendserver.deployment.core.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="DeploymentNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.zend.php.zendserver.deployment.core.DeploymentNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="DeploymentBuilder"
         name="Deployment"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="true"
            supportsConfigurations="false">
         <run
               class="org.zend.php.zendserver.deployment.core.IncrementalDeploymentBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="problemmarker"
         name="Deployment Descriptor Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="lineNumber">
      </attribute>
      <attribute
            name="charStart">
      </attribute>
      <attribute
            name="charEnd">
      </attribute>
      <attribute
            name="message">
      </attribute>
      <attribute
            name="priority">
      </attribute>
      <attribute
            name="severity">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.zend.php.zendserver.deployment.core.refactoring.DescriptorMoveParticipant"
            id="org.zend.php.zendserver.deployment.ui.moveParticipant"
            name="%moveParticipant.name">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <with
                     variable="element">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </iterate>
               </with>
            </or></enablement>
      </moveParticipant>
      <moveParticipant
            class="org.zend.php.zendserver.deployment.core.refactoring.MappingMoveParticipant"
            id="org.zend.php.zendserver.deployment.ui.moveParticipant"
            name="%moveParticipant.name.0">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <with
                     variable="element">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </iterate>
               </with>
            </or>
         </enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.zend.php.zendserver.deployment.core.refactoring.DescriptorRenameParticipant"
            id="org.zend.php.zendserver.deployment.ui.renameParticipant"
            name="%renameParticipant.name">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="org.zend.php.zendserver.deployment.core.refactoring.MappingRenameParticipant"
            id="org.zend.php.zendserver.deployment.ui.renameParticipant"
            name="%renameParticipant.name.0">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
      </renameParticipant>
   </extension>


   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.zend.php.zendserver.deployment.core.refactoring.MappingDeleteParticipant"
            id="org.zend.php.zendserver.deployment.ui.deleteParticipant1"
            name="%deleteParticipant.name">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof></enablement>
      </deleteParticipant>
   </extension>
</plugin>
